*{
    margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 400px;
    height: 400px;
    background-color: rgba(63, 63, 223, 0.808);
    border-radius: 15px;
    margin: 20px auto;
    display:flex;
    flex-direction: column;   
}
.header{
    border-radius: 15px 15px 0 0;
    display: flex;
    justify-content: center;
    background-color:rgba(0, 0, 139, 0.719);
    align-items: center;
    height: 70px;

}
.header h1{
    color: white;
    font-weight: bold;
}
.formBox{
margin: auto;
background-color: rgb(212, 213, 250);
width: 250px;
padding: 15px;
border-radius: 20px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formBox input{
    height: 20px;
    width: 180px;
    border-color: black;
    border-radius: 5px;
    padding-left: 24px;
}
.formBox input:focus{
    outline: none;
}

img{
    position: relative;
    width: 15px;
    margin-right: -20px;
}
img:hover{
    cursor: pointer;
    color: red;
}

#btRegistra{
    width: 120px ;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
    padding-left: 0px;
    
}
#btRegistra:hover{
   cursor: pointer;
   background-color: grey;
   color: white;
}
label{
    display: block;
    margin: 5px 0px;
}
.msgBox{
    height: 25px;
}
.msg{
    display: none;
    margin-top:10px;
    font-size: 12px;
    font-weight: bold;
    color: red;
}