*{
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

/* MENU */
.boxmenu{
    background-color: black;
    color: white;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.boxmenu ul{
    list-style: none;
    text-decoration: none;
    display: flex;
}
.boxmenu ul li{
    margin: 0px 20px;
}
.boxmenu a{
    text-decoration: none;
    color: white;
}
.boxmenu a:hover{
    color: aquamarine;
    text-decoration: underline;
}
.boxmenu h2{
    margin: 0px 30px;
    color: aquamarine;
}
/* CONTADOR */
.contador{
    text-align: center;
}
.contador p{
    font-size: 20px;
    font-weight: bolder;
}
/* CONTAINER */
.container{
     width: 800px;
     height: 400px;
     margin: auto;
     box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.342);
     display: flex;
     margin-top:30px
}
/*BOX PRINCIPAL CADASTRO*/
.acaoBox{
    background-color:rgba(36, 250, 179, 0.774);
    width: 400px;
    height: 400px;;
    display: block;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.acaoBox ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.acaoBox li{
    text-decoration: none;
}
.acaoInfos{
    margin: 20px;
}
.acaoInfos h2{
    margin-bottom: 15px;
}
.acaoBox a{
    text-decoration: none;
    color: gray;
    font-size: 20px;
    font-weight: bolder;
}
.acaoBox a:hover{
    color: white;
    text-decoration: underline;
}
/* CONTAINER REGISTER */
.loginbox{
    width: 400px;
    height: 400px;
    color: rgba(36, 250, 179, 0.774);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
  
}
.loginbox input{
    display: block;
    margin-bottom: 20px;
    height: 30px;
    width: 250px;
    border-color: black;
}
.loginbox input:focus{
    outline: none;
}
.loginbox h2{
    margin-bottom: 20px;
    font-size: 30px;
    text-decoration: underline;
}
.loginbox p{
    margin-bottom: 20px;
    font-size: 15px;
}
.loginbox button{
    width: 100px;
    height: 30px;
}
.loginbox button:hover{
    cursor: pointer;
    background-color: rgba(127, 255, 212, 0.527);
    color: white;
}
.logos img{
    width: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
.botaoArea {
    display: flex;
    justify-content: center;
}


/* LOGIN BOX*/
.registerbox{
    width: 400px;
    height: 400px;
    color: rgba(36, 250, 179, 0.774);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    display: flex;
}
.registerbox input{
    display: block;
    margin-bottom: 20px;
    height: 30px;
    width: 250px;
    border-color: black;
}
.registerbox input:focus{
    outline: none;
}
.registerbox button{
    width: 100px;
    height: 30px;
    display: block;
}
.registerbox button:hover{
    cursor: pointer;
    background-color: rgba(127, 255, 212, 0.527);
    color: white;
}
.registerbox h2{
    margin-bottom: 20px;
    text-decoration: underline;
}
.loginn{
    display: flex;
    justify-content: center;
}

.marea{
    height: 20px;
    text-align: center;
    font-weight: bolder;
    font-size: 13px;
    margin-bottom: 7px;
}
.containerLogado{
    width: 800px;
    height: 400px;
    background-color: rgb(193, 252, 232);
    margin: auto;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.342);
    display: none;
    flex-direction: column;
    text-align: center;
    margin-top:30px;
    color: gray;
}
.logadotitle{
    background-color: rgb(138, 192, 240);
    height: 100px;
    color: white;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;

}
.logadomenu{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    font-size: 20px;
    align-items: center;
    }
.logadomenu{

}
.logadomenu button{
    width: 200px;
    height: 30px;
    margin-top: 40px;
}
.logadomenu p{
    margin-bottom: 10px;
}
.logadomenu button:hover{
   cursor: pointer;
   background-color: antiquewhite;
   color: white;
}

